body {
    background-image: url("instituto_senai_de_tecnologia_mt_cover.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: OCR A Std, monospace
}
/*um subiten do body*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #072f4ed9;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    padding-left: 80px;
    transition: 0.3s;
}

#navbar-title {
    font-weight: bold;
    font-size: 10px;
    color: white;
}

/*uma clasificação de um detalhe na navbar*/
#navbar .nav-link {
    margin-left: 2px;
    color: rgb(243, 243, 243);
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

/*uma clasificação de um detalhe com subclase depois na navbar*/
/*serve para os botões que mudam de cor*/
#navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #8494D1;
    transition: 0.3s;
}

/*serve para os botões que mudam de cor*/
#navbar .nav-link:hover {
    color: #8494D1;
}
/*serve para os botões que mudam de cor*/
#navbar .nav-link:hover::after {
    width: 100%;
}

#navbar .nav-link.active {
    color: #ffffff;
}

#nav-tudo {
    margin-left: 570px;
}

#elemento {
    max-width: 1000px;
    margin: 50px auto;

}

#card {
    padding: 25px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 20px 60px #000000;
    transition: 0.3s;
}

/*serve para aumentar o tamanho da tabela quando passa o mouse*/
#card:hover {
    transform: scale(1.01);
}

#tabela {
    border-radius: 15px;
    overflow: hidden;
}

#tabela th {
    background: linear-gradient(90deg, #101B47, #35437A, #101B47);
    color: #ffffff;
    border-color: black;
    text-align: center;
}

#tabela td {
    text-align: center;
    vertical-align: middle;
    transform: scale(1.01);
}

#tabela tr {
    transition: 0.2s;
    transform: scale(1.01);
}

#tabela tr:hover {
    background-color: #153cca;
    transform: scale(1.01);
}
#tituloEstoque{
    color: #ff9501;
    font-weight: bold;
    text-align: center;
}

#titulo {
    color: #35437A;
    font-weight: bold;
    text-align: center;
}

#Adicionar-item{
    width: 80%;
    padding: 25px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 20px 60px #000000;
    transition: 0.3s;
    margin: 50px auto;
}

#add_a_photo {
    width: 40px;
    margin-right: 10px;
}

#botao_foto {
    background: #8494d144;
    border-color: #ff9501;
    border-radius: 80px;
}
