body {
    background-image: url(img/background\ for\ glass.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    font-family: OCR A Std, monospace
}

.container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

#carrossel {
    width: 80%;
    position: relative;
    overflow: hidden;
    display: block;
}

#carrossel img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.65) contrast(1.1);
}

#corpo{
    position: absolute;
    left: 80%;
    top: 0%;
    width: 100%;
    max-width: 20%;
    padding: 2.5rem;
    background-color: #192a6b;
    min-height: 100vh;
    overflow-x: hidden;
}
#login-box {

    font-family: "Courier New", Courier, monospace;
    color: #ff9500;
    width: 300px;
}

#login-box h2 {
    color: #000;
    font-weight: bold;
}

#login-box button {
    background-color: #6c63ff;
}

#login-box button:hover {
    background-color: #ff9500;
}

#login-box .btn-success {
    background-color: #192a6b;
    border: none;
    font-weight: bold;
}

#login-box .btn-success:hover {
    background-color: #ff9500;
}

#login-box .btn-secondary {
    background-color: #6c63ff;
    border: none;
}

#login-box .btn-secondary:hover {
    background-color: #ff9500;
}
/* GLASS EFECT */
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
