<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/senai.png">
</head>
<body>


    <div class="container-fluid p-0 text-center">
        <img src="../static/Imagem.png" id="backrooms" class="img-fluid" alt="Imagem de fundo">
    </div>

</body>
</html>
