<?xml version="1.0" encoding="UTF-8"?> <desbanir idioma="en">
<root>
    <conteudo>
        <formulario
            action="/desbanir"
            method="POST"
            enctype="multipart/form-data">
            <titulo id="titulo">
                Desbanir
            </titulo>
            <selecao
                classe="form-select"
                name="email_selecionado"
                aria-label="Default select example">
                <opcao
                    valor=""
                    selecionada="true"
                    desabilitada="true">
                    Escolha o Item
                </opcao>
                {% for item in registros %}
                <opcao
                    valor="{{ item.email }}">
                    {{ item.email }}
                </opcao>
                {% endfor %}
            </selecao>
            <acao id="Regiscao">
                <botao
                    type="submit"
                    classe="btn btn-danger">
                    Desbanir
                </botao>
            </acao>
        </formulario>
    </conteudo>
    </desbanir>
</root>
