<?xml version="1.0" encoding="UTF-8"?> <historico idioma="pt-br">
<root>
    <conteudo>
        <tabela id="tabela">
            <registros>
                {% for item in registros %}
                <registro>
                    <id_log>
                        {{ item.id_log }}
                    </id_log>
                    <acao>
                        <texto>
                            {{ item.acao }}
                        </texto>
                        <classe>
                            {% if 'Entrada' in item.acao %}
                                bg-success
                            {% elif 'Novo' in item.acao %}
                                bg-primary
                            {% elif 'Saída' in item.acao %}
                                bg-warning
                            {% elif 'Deletado' in item.acao %}
                                bg-danger
                            {% else %}
                                bg-secondary
                            {% endif %}
                        </classe>
                    </acao>
                    <produto>
                        {{ item.produto_nome }}
                    </produto>
                    <quantidade_anterior>
                        {{ item.qtd_anterior }}
                        un.
                    </quantidade_anterior>
                    <quantidade_nova>
                        {{ item.qtd_nova }}
                        un.
                    </quantidade_nova>
                    <data_hora>
                        {{ item.data_hora }}
                    </data_hora>
                    <usuario>
                        {{ item.email }}
                    </usuario>
                </registro>
                {% else %}
                <sem-registros>
                    <mensagem>
                        Nenhuma movimentação registrada ainda.
                    </mensagem>
                </sem-registros>
                {% endfor %}
            </registros>
        </tabela>
    </conteudo>
    </historico>
</root>
